{:optimizations :advanced, :asset-path "index.html.out", :output-dir "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/nearseed/iux/qo5pkn/index.html.out", :output-to "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/nearseed/iux/qo5pkn/index.html.js", :main boot.cljs.main5256, :output-wrapper true, :warning-handlers [#object[adzerk.boot_cljs.impl$compile_cljs$handler__378 0x1794dff5 "adzerk.boot_cljs.impl$compile_cljs$handler__378@1794dff5"]]}