{:optimizations :advanced, :asset-path "index.html.out", :output-dir "/home/thedavidmeister/.boot/cache/tmp/home/thedavidmeister/nearseed/hxd/50rfo7/index.html.out", :output-to "/home/thedavidmeister/.boot/cache/tmp/home/thedavidmeister/nearseed/hxd/50rfo7/index.html.js", :main boot.cljs.main5252, :output-wrapper true, :warning-handlers [#object[adzerk.boot_cljs.impl$compile_cljs$handler__374 0x4bcca005 "adzerk.boot_cljs.impl$compile_cljs$handler__374@4bcca005"]]}