{:optimizations :advanced, :asset-path "index.html.out", :output-dir "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/nearseed/iab/c7rc4v/index.html.out", :output-to "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/nearseed/iab/c7rc4v/index.html.js", :main boot.cljs.main4795, :output-wrapper true, :warning-handlers [#object[adzerk.boot_cljs.impl$compile_cljs$handler__378 0x317d0f9c "adzerk.boot_cljs.impl$compile_cljs$handler__378@317d0f9c"]]}